
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  body {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    a {
      color: rgb(119, 15, 15);
      transition: all 0.1s ease-out;
    }
    a:hover {
      color: rgb(6, 248, 38);
    }
     li {
      color: rgb(89, 224, 248);
    }
  }
  
  img,
  table {
    max-width: 100%;
  }
  
   
  